body {
  margin: 0;
}

@keyframes WheatMove {
  0% {
    width: 5vw;
  }
	100% {
    width: 1vw;
	}
}

@keyframes SpikeMove {
  0% {
    left: 1vw;
  }
	100% {
    left: 0;
	}
}

@keyframes ScarecrowMove {
  0% {
    margin-left: 0.1vw;
  }
	100% {
    margin-left: -0.1vw;
	}
}

@keyframes lightMoveOne {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lightMoveTwo {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes lightMoveThree {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@keyframes lightMoveFour {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(495deg);
  }
}

@keyframes flyMove {
  from {
    transform: translateX(-15vw);
	}
	to {
    transform: translateX(15vw);
	}
}

.autumn-body {
  position: fixed;
  overflow: hidden;
  width: 15vw;
  height: 100vh;
  background: linear-gradient(#afeefe, #5bddfe, #afeefe, #fff);
  background: linear-gradient(orange, yellow, #fff, #fff);
}

.wheats {
  position: absolute;
  bottom: 0;
  height: 6vw;
  width: 15vw;
  background: linear-gradient(#feea25, #feea25, #feea25);
}

.wheat {
  position: absolute;
  border-left: 0.2vw solid #feea25;
  height: 3vw;
  width: 1vw;
  border-top-left-radius: 10vw;
}

.scarecrow {
  position: absolute;
  bottom: 7vw;
  left: 7vw;
}

.foot {
  position: absolute;
  height: 3vw;
  width: 0.4vw;
  background: #6c0101;
  z-index: 1;
}

.foot:before {
  content: '';
  position: absolute;
  width: 0.15vw;
  height: 1vw;
  background: #6c0101;
  transform: translate(0.4vw, 1vw) rotate(45deg);
}

.foot:after {
  content: '';
  position: absolute;
  border-left: 0.2vw solid #feea25;
  height: 3vw;
  width: 1vw;
  border-top-left-radius: 10vw;
  animation: 2.65s linear 0s infinite normal none running WheatMove;
}

.clothes {
  position: absolute;
  width: 3.4vw;
  height: 3vw;
  background: linear-gradient(45deg, #dd9900, #9e5f01);
  bottom: 0vw;
  left: -1.5vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  box-shadow: 1px 1px 3px 3px #ccc;
  animation: ScarecrowMove ease-in 3s infinite;
}

.clothes:before {
  content: '';
  position: absolute;
  width: 2.5vw;
  height: 1.5vw;
  background: linear-gradient(45deg, #fdc700, #bd7c00);
  left: -2.4vw;
  border-top-left-radius: 0.2vw;
  border-bottom-left-radius: 0.8vw;
}

.clothes:after {
  content: '';
  position: absolute;
  width: 2.5vw;
  height: 1.5vw;
  background: linear-gradient(45deg, #b06e00, #8a5601);
  left: 3.3vw;
  border-top-right-radius: 0.2vw;
  border-bottom-right-radius: 0.8vw;
  box-shadow: 8px 0px 8px 0 #ccc;
}

.scarecrow-body {
  transform: rotate(5deg);
}

.left-hand {
  position: absolute;
  left: -4.8vw;
  bottom: 2.5vw;
  width: 1vw;
  height: 0.3vw;
  background: #6c0101;
}

.left-hand:before {
  content: '';
  position: absolute;
  height: 0.3vw;
  width: 0.3vw;
  background: #6c0101;
  bottom: 0.3vw;
  border-top-right-radius: 0.4vw;
}

.right-hand {
  position: absolute;
  left: 4.2vw;
  bottom: 2.3vw;
  width: 1.2vw;
  height: 0.3vw;
  background: #6c0101;
}

.right-hand:before {
  content: '';
  position: absolute;
  width: 0.2vw;
  height: 0.5vw;
  background: #6c0101;
  left: 0.6vw;
  top: -0.3vw;
  transform: rotate(24deg);
}

.head {
  position: absolute;
  bottom: 2.3vw;
  width: 4vw;
  height: 4vw;
  border-radius: 3vw;
  background: #fff;
  left: -1.4vw;
  z-index: 1;
}

.hair-one {
  position: absolute;
  background: linear-gradient(45deg, #cb9801, #cb9801, #9e5f01);
  height: 2.6vw;
  width: 0.1vw;
  transform: rotate(22deg);
  top: 0.2vw;
  animation: ScarecrowMove ease-in 3s infinite;
}

.eye {
  position: absolute;
  width: 0.3vw;
  height: 0.3vw;
  background: #333;
  top: 1.5vw;
  left: 0.8vw;
  border-radius: 10vw;
}

.eye:before {
  content: '';
  position: absolute;
  width: 0.3vw;
  height: 0.3vw;
  background: #333;
  top: 0.1vw;
  left: 2vw;
  border-radius: 10vw;
}

.mouth {
  position: absolute;
  border-bottom: 2px solid red;
  width: 2.6vw;
  height: 3vw;
  border-radius: 1.7vw;
  left: 0.65vw;
  top: 0.3vw;
}

.face {
  position: absolute;
  top: 1.7vw;
  width: 1vw;
  height: 1vw;
  background: pink;
  filter: blur(10px);
}

.face:before {
  content: '';
  position: absolute;
  width: 1vw;
  left: 2.7vw;
  height: 1vw;
  background: pink;
  filter: blur(10px);
}

.hat {
  position: absolute;
  width: 6vw;
  height: 1vw;
  background: linear-gradient(45deg, #dd9900, #955c01);
  border-radius: 50%;
  left: -1vw;
  transform: rotate(5deg);
  box-shadow: 7px 0 10px 1px #ddd;
  z-index: 1;
}

.hat:before {
  content: '';
  position: absolute;
  width: 3vw;
  height: 0.5vw;
  background: #333;
  left: 1.4vw;
  bottom: 0.7vw;
  border-radius: 4px;
}

.hat:after {
  content: '';
  position: absolute;
  width: 2.8vw;
  height: 1vw;
  background: linear-gradient(45deg, #f8b000, #cb8700, #b06e00, #593601);
  bottom: 1.2vw;
  left: 1.5vw;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.grain {
  width: 0.3vw;
  height: 0.1vw;
  position: absolute;
  background: linear-gradient(46deg, #feea25, #fdca03);
  top: 0.4vw;
  border-radius: 1vw;
  animation: SpikeMove 5s infinite;
  transform: rotate(112deg);
}

.grain:nth-child(2) {
  top: 0.3vw;
  margin-left: 0.2vw;
}

.grain:nth-child(3) {
  top: 0.6vw;
  margin-left: -0.2vw;
}

.grain:nth-child(4) {
  transform: rotate(-11deg);
  margin-left: 0.4vw;
  top: 0.4vw;
}

.grain:nth-child(5) {
  transform: rotate(-11deg);
  margin-left: 0.1vw;
  top: 0.6vw;
}

.grain:nth-child(6) {
  transform: rotate(-11deg);
  margin-left: -0.2vw;
  top: 0.8vw;
}

.cloud-one, .cloud-two, .cloud-three {
  z-index: -1;
  background: #fff;
  width: 5vw;
  height: 2vw;
  border-radius: 50px;
  position: absolute;
  top: 3vw;
  animation: flyMove 30s infinite;
}

.cloud-one::before, .cloud-two:before, .cloud-three:before {
  background: #fff;
  content: "";
  width: 3vw;
  height: 1.3vw;
  position: absolute;
  top: -1vw;
  left: 0.7vw;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.cloud-two {
  top: 6vw;
  left: 10vw;
  animation: flyMove 35s linear infinite;
}

.cloud-three {
  top: 13vw;
  left: 5vw;
}

.sun {
  position: absolute;
  margin: 2vw 0 0 2vw;
  width: 8vw;
  height: 8vw;
  right: 0;
}

.solar-core {
  position: absolute;
  background: yellow;
  width: 6vw;
  height: 6vw;
  border-radius: 100px;
  margin-top: 1.5vw;
  box-shadow: 0 0 30px 18px #fff;
}

.sunlight {
  position: absolute;
  width: 0.1vw;
  height: 9vw;
  left: 36%;
}

.sunlight:nth-child(2) {
  transform: rotate(45deg);
  animation: lightMoveTwo 20s linear infinite;
}

.sunlight:nth-child(3) {
  transform: rotate(90deg);
  animation: lightMoveThree 20s linear infinite;
}

.sunlight:nth-child(4) {
  transform: rotate(135deg);
  animation: lightMoveFour 20s linear infinite;
}

.sunlight:nth-child(5) {
  transform: rotate(0);
  animation: lightMoveOne 20s linear infinite;
}

.light {
  position: absolute;
  height: 0.3vw;
  width: 100%;
  background: yellow;
  box-shadow: 0 0 20px 7px #fff;
}

.light:first-child {
  top: 0;
}

.light:nth-child(2) {
  bottom: 0;
}
